.App {
  text-align: left;
  padding: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  width: 400px;
  margin: auto;
}

input[type=text] {

    padding: 12px 20px;
        margin: 10px 0px 10px 0px;
    border-radius: 24px;
    border: 1px solid #ccc;

}

body {
  font-family: 'Lato', sans-serif;
}

input[type=submit] {
    background-color: #6600af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


button {
  margin: 0 8px 0 0 ;
    background-color: #6600af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.Project {
  margin: 12px;
  background-color: #eee;
  padding: 30px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
